#userInput {
    margin-top: 100px;
  }
  
  #header {
    font-size: 100px;
  }
  
  body {
    font-family: 'Ubuntu Mono', monospace;
  }
  
  .gif {
    border: #000 solid 7px;
  
  }
  
  .gifContainer {
    margin: 10px;
    display: inline-block;
  }
  .searchButtons {
    margin: 7px 10px;
  }
  
  .gifRating {
    color: #000;
    font-size: 17px;
  }
  
  .gif:hover {
    cursor: pointer;
    border: #f1c40f solid 7.5px;
  }
  